


 <h1>User info</h1>
  <div>
  <%= image_tag user.get_profile_image(100,100) %>
  <P>name : <%= user.name %></P>
  <p>introduction：<%= user.introduction %></p>
  <% if user == current_user %>


    <P><%= link_to edit_user_path(user),class: "btn btn-outline-secondary btn-block" do %>
    <i class="fas fa-user-cog" aria-hidden="true"></i></p>
    <% end %>
  <% else %>
    <p><%= link_to edit_user_path(user),class: "btn btn-outline-secondary btn-block" do %>
    <i class="fas fa-user-cog" aria-hidden="true"></i></p>
    <% end %>
  <% end %>
 </div>

 <h1>New book</h1>



  <%= form_with model: book do |f| %>
   <div class="text_field">
   <div>Title</div>
   <%= f.text_field :title %>

   <div>Opinion</div>
   <%= f.text_area :body %>
   </div>

   <div class="text-submit"><%= f.submit 'Create Book', class: "btn btn-sm btn-success" %></div>
  <% end %>
   </body>


